.login.container {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.55)
    ),
    url("https://user-images.githubusercontent.com/43678736/120118513-8b1abc00-c158-11eb-9f3c-32f3dad78d93.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background